@use '../helpers' as *;

.realtime-indicators {
  display: flex;

  &__content {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  &__item {
    width: 50%;
  }
}
